<div id="board-nav">
    <div (click)="createBoard()" class="bt-create-board"><mat-icon style="vertical-align: middle;">add</mat-icon> create board</div>
</div>
<div id="kanban-boards">
    <div *ngFor="let bb of boards" class="board-box" (click)="openBoard(bb)">
        <div class="board-title">{{ bb.title }}</div>
        <div class="board-options">
            <div class="board-option" (click)="editBoard(bb); $event.stopPropagation()"><mat-icon>edit</mat-icon></div>
            <div class="board-option" (click)="deleteBoard(bb); $event.stopPropagation()"><mat-icon>delete</mat-icon></div>
        </div>
    </div>
</div>